@charset "UTF-8";
:root {
  /* час трансформації */
  --trans-duration: 250ms;
  /* функція розподілу часу */
  --trans-timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  /* основний шрифт */
  --primary-font: roboto, sans-serif;
  /* шрифт для лого */
  --logo-font: Raleway, sans-serif;
  /* секція з темним фоном */
  /* фон */
  --bgc-dark: #2f303a;
  --bgc-dark-alpha: #2f303acc;
  /* основний колір тексту */
  --color-primary-dark: #ffffff;
  /* колір пошти і номера телефону в футері*/
  --color-footer-contacts: rgba(255, 255, 255, 0.6);
  /* cекція з світлим фоном */
  /* основний фон */
  --bcg-light: #ffffff;
  /* основний колір тексту */
  --color-primary-light: #757575;
  /* секція Наша команда, фон */
  --bcg-team: #f5f4fa;
  /* Лого WebStudio */
  /* перший колір тексту в логотипі */
  --color-logo-primary: #2196f3;
  /* другий колір тексту логотипу в хедері */
  --color-logo-header-secondary: #000000;
  /* другий колір тексту логотипу в футері */
  --color-logo-footer-secondary: #ffffff;
  /* колір тексту навігації і заголовків */
  --color-title-nav: #212121;
  /* колір активності посилань */
  --color-nav-active: #2196f3;
  /* фон в секції Hero */
  --bcg-hero: #c4c4c4;
  /* кнопка Hero */
  --bcg-button-primary: #2196f3;
  --color-button: #ffffff;
  /* фон hover кнопки */
  --bcg-button-hover: #188ce8;
  /* кнопка портфоліо */
  --bgc-portfolio-button: #f5f4fa;
  --color-portfolio-button: #212121;
  /* кнопка портфоліо в ховері */
  --bgc-portfolio-button-hover: #2196f3;
  --color-portfolio-button-hover: #ffffff;
  --color-clients: #afb1b8;
}

/* прибирання маржинів в заголовках і абзаці */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* прибирання підкреслення в посиланнях */
.link {
  text-decoration: none;
}

/* прибираємо маркери, маржини і падінги в списках */
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.picture {
  line-height: 0;
}

/* робить елемент невидимим */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.underline {
  border-bottom: 1px solid #ececec;
}

.title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  color: var(--color-title-nav);
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

/* основні властивості body */
body {
  background-color: var(--bcg-light);
  color: var(--color-primary-light);
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

body.is-open {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 319px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button, .button-gallery {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.85;
  cursor: pointer;
  border-width: 0px;
  border-radius: 4px;
}

.button {
  display: inline-flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  padding: 10px 32px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--bcg-button-primary);
  color: var(--color-button);
  transition-property: background-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.button-gallery {
  padding: 6px 22px;
  font-weight: 500;
  background-color: var(--bgc-portfolio-button);
  color: var(--color-portfolio-button);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.button-gallery:hover, .button-gallery:focus {
  background-color: var(--bgc-portfolio-button-hover);
  color: var(--color-portfolio-button-hover);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 380px) {
  .button-gallery {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50% 50%;
  color: var(--color-clients);
  transition-property: color, background-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.social-links__link:hover, .social-links__link:focus {
  color: var(--color-button);
  background-color: var(--color-nav-active);
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--color-logo-primary);
}

.header__logo {
  color: var(--color-logo-header-secondary);
}

.footer__logo {
  color: var(--color-logo-footer-secondary);
}

/* Header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu-button {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--color-logo-header-secondary);
  transition-property: color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.menu-button:hover, .menu-button:focus-visible {
  color: var(--color-nav-active);
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

@media screen and (max-width: 767px) {
  .nav {
    flex-direction: column;
    position: absolute;
    z-index: 5;
    top: -100vh;
    left: 0;
    height: 100vh;
    overflow: auto;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: var(--bcg-light);
    transform: translatey(0);
    transition: transform var(--trans-duration) var(--trans-timing-func);
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .nav {
    width: 100vw;
  }
}

@media screen and (max-width: 767px) and (min-width: 480px) {
  .nav {
    left: calc((100% - 100vw) / 2);
  }
}

@media screen and (max-width: 767px) {
  .nav.is-open {
    transform: translatey(100%);
    pointer-events: visible;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .nav.is-open {
    transform: translateY(0);
    pointer-events: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 90px;
    align-items: center;
    flex-grow: 1;
    margin-right: auto;
  }
}

.nav__list {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .nav__list {
    font-size: 40px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  color: var(--color-title-nav);
  transition-property: color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.nav__link:hover, .nav__link:focus {
  color: var(--color-nav-active);
}

@media screen and (max-width: 767px) {
  .nav__link--active {
    color: var(--color-nav-active);
  }
}

@media screen and (min-width: 768px) {
  .nav__link--active {
    position: relative;
  }
  .nav__link--active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-nav-active);
    bottom: -34px;
    left: 0;
    pointer-events: none;
    transition-property: background-color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);
  }
}

/* header-contacts */
.contacts {
  display: flex;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .contacts {
    flex-direction: column-reverse;
    margin-top: auto;
    margin-bottom: 64px;
  }
  .contacts__item:first-child {
    font-size: 24px;
  }
  .contacts__item:last-child {
    font-size: 34px;
    color: var(--color-nav-active);
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) and (max-width: 350px) {
  .contacts__item:last-child {
    font-size: calc(100vw / 20 + 15px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:first-child {
    margin-right: 30px;
  }
}

.contacts__link {
  color: inherit;
  transition-property: color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--color-nav-active);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: flex;
    align-items: center;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}

.contacts__icon--post {
  width: 16px;
  height: 12px;
}

.contacts__icon--phone {
  width: 10px;
  height: 16px;
}

.header-socials {
  display: flex;
}

@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 420px) {
  .header-socials__item:not(:last-child) {
    margin-right: calc(100vw / 8 - 33px);
  }
}

.header-socials__link {
  color: var(--color-nav-active);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 420px) {
  .header-socials__link {
    font-size: calc(100vw / 33 + 5px);
  }
}

/* hero */
.hero {
  background-color: var(--bcg-hero);
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: var(--color-primary-dark);
}

.hero-container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-lap.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-lap@2x.jpg);
  }
}

@media screen and (max-width: 320px) {
  .hero-container {
    width: 320px;
  }
}

/* section Features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__list {
  display: flex;
  text-align: left;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .features__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    flex-wrap: wrap;
  }
}

.features__item {
  max-width: 100%;
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .features__item {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    width: calc(100% / 4 - 30px);
  }
}

.features__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-team);
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  color: var(--color-title-nav);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__text {
  line-height: 1.7;
}

/* section Servises */
.services {
  padding-top: 0px;
  padding-bottom: 94px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__list {
  display: flex;
  margin: -15px;
}

.services__item {
  margin: 15px;
}

.services__wrap {
  position: relative;
  width: 100%;
}

.services__text {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-transform: uppercase;
  background-color: Var(--bgc-dark-alpha);
  color: var(--color-primary-dark);
  position: absolute;
  left: 0;
  bottom: 0;
}

/* section team */
.team {
  background-color: var(--bcg-team);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: flex;
  align-items: center;
  margin: -15px;
}

@media screen and (max-width: 767px) {
  .team__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    flex-wrap: wrap;
  }
}

.team__item {
  padding-bottom: 24px;
  margin: 15px;
  max-width: 100%;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.19;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
}

.team-image {
  max-width: 100%;
  height: auto;
}

.team__title {
  font-size: inherit;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--color-title-nav);
}

.team__text {
  margin-bottom: 16px;
}

/* Our clients Наші постійні клієнти */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.clients__item {
  margin: 15px;
  width: calc(100%/2 - 30px);
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc(100%/3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc(100%/6 - 30px);
  }
}

.clients__link {
  padding: 16px 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-clients);
  border-radius: 4px;
  color: var(--color-clients);
  transition-property: color, border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--color-nav-active);
  color: var(--color-nav-active);
}

@media screen and (max-width: 480px) {
  .clients__link {
    padding-right: calc(( 50% - 136px ) / 2);
    padding-left: calc((50% - 136px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__link {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Fotter */
.footer {
  background-color: var(--bgc-dark);
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 320px) {
  .footer {
    width: 320px;
  }
}

.footer__container {
  width: 100vw;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

@media screen and (max-width: 320px) {
  .footer__container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .footer__inner {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__inner {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__inner {
    margin-right: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .left-wrap {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .left-wrap {
    margin-right: 70px;
  }
}

.address {
  font-style: normal;
  margin-top: 20px;
  line-height: 1.71;
  color: var(--color-primary-dark);
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__contacts {
  color: var(--color-footer-contacts);
  transition-property: color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.address__contacts:hover, .address__contacts:focus {
  color: var(--color-nav-active);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .middle-wrap {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .middle-wrap {
    margin-top: 15px;
  }
}

.middle-wrap__label {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--color-primary-dark);
}

.footer__social-links {
  margin-top: 20px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer__social-links {
    margin-bottom: 60px;
  }
}

.social-links__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-primary-dark);
}

.social-links__link--footer:hover, .social-links__link--footer:focus {
  background-color: var(--color-nav-active);
}

@media screen and (min-width: 768px) {
  .right-wrap {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .right-wrap {
    margin-top: 15px;
    flex-grow: 1;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter {
    width: 100%;
  }
}

.newsletter__label {
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.17;
  color: var(--color-primary-dark);
}

.newsletter__wrap {
  margin-top: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__wrap {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.newsletter__input {
  width: 100%;
  padding: 15px;
  border: 1px solid;
  border-radius: 4px;
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: var(--bgc-dark);
  color: var(--color-footer-contacts);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  outline: transparent;
  transition-property: border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.newsletter__input:focus-within {
  border-color: var(--color-nav-active);
}

.newsletter__input::placeholder {
  color: var(--color-footer-contacts);
}

@media screen and (max-width: 1199px) {
  .newsletter__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .newsletter__input {
    flex-grow: 1;
    margin-right: 12px;
  }
}

.newsletter__button {
  padding: 10px 29px;
}

.newsletter__button-label {
  margin-right: 10px;
}

.newsletter__button-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* portfolio */
.page-gallery {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .page-gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* кнопки галереї*/
.buttons {
  display: flex;
  justify-content: center;
  margin: 0px -4px;
}

@media screen and (max-width: 767px) {
  .buttons {
    flex-wrap: wrap;
    justify-content: left;
    margin: -8px -4px;
  }
}

.buttons__item {
  margin: 0px 4px;
}

@media screen and (max-width: 767px) {
  .buttons__item {
    margin: 8px 4px;
  }
}

/* галерея */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: 50px;
  }
}

.gallery__item {
  margin: 15px;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    max-width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    max-width: calc(100% / 3 - 30px);
  }
}

.gallery__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition-property: box-shadow;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.gallery__link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.gallery__link:hover .card-overlay {
  transform: translateY(0);
}

.gallery__wrap {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.gallery__desc {
  flex-grow: 1;
  height: 100%;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.gallery__title {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-title-nav);
}

.gallery__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-primary-light);
}

/* overlay */
.card-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
  transform: translateY(100%);
  background-color: var(--color-nav-active);
  color: var(--color-primary-dark);
  font-size: 18px;
  line-height: 1.55;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Модальне вікно */
.beckdrop {
  position: fixed;
  z-index: 15;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 100vw;
  height: 100vh;
  background-color: #00000033;
  visibility: visible;
  pointer-events: initial;
  opacity: 1;
}

.beckdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity;
  transition-delay: var(--trans-duration);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001f;
  transition-property: transform, opacity(0);
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

@media screen and (max-width: 480px) {
  .modal {
    max-width: calc(100% - 30px);
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.modal__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 12px;
  text-align: Center;
  color: #212121;
}

@media screen and (min-width: 380px) {
  .modal__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.17;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border: 1px solid #0000001a;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000000;
}

.modal__button:hover, .modal__button:focus {
  color: var(--color-nav-active);
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: currentColor;
}

.beckdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.callback {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.callback__wrap {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.callback__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.callback__inner {
  height: 40px;
  margin-bottom: 10px;
  color: var(--color-title-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: border-color, color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.callback__inner:focus-within {
  border-color: var(--color-nav-active);
  color: var(--color-nav-active);
}

.callback__border {
  padding: 11px 12px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.callback__icon {
  width: 18px;
  height: 18px;
  margin-right: 12px;
  fill: currentColor;
}

.callback__textarea {
  flex-grow: 1;
  resize: none;
  margin-bottom: 20px;
  transition: border-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
}

.callback__textarea:focus-within {
  border-color: var(--color-nav-active);
}

.callback__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback__input {
  flex-grow: 1;
  border: none;
  outline: transparent;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  margin-left: auto;
  margin-right: auto;
}

.checkbox__input {
  color: white;
  border: none;
  outline: transparent;
}

.checkbox__contacts {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.checkbox__contacts::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: var(--bcg-light);
  transition: background-image, background-color;
  transition-duration: var(--trans-duration);
  transition-timing-function: var(--trans-timing-func);
  background-image: url("../images/icon-checkbox.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.checkbox__input:checked + .checkbox__contacts::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-color: var(--color-nav-active);
  background-image: url("../images/icon-checked.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.checkbox__label {
  font-size: 12px;
  line-height: 1.71;
  margin-right: 4px;
  color: var(--color-primary-light);
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
  }
}

.checkbox__link {
  color: var(--color-nav-active);
  position: relative;
}

.checkbox__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--color-nav-active);
}
/*# sourceMappingURL=main.css.map */