/* прибирання маржинів в заголовках і абзаці */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* прибирання підкреслення в посиланнях */
.link {
    text-decoration: none;
}

/* прибираємо маркери, маржини і падінги в списках */
.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.image {
    display: block;
    max-width: 100%;
    height: auto;
}

.picture {
    line-height: 0;
    
}

/* робить елемент невидимим */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.underline {
    border-bottom: 1px solid #ececec;
}
.title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    color: var(--color-title-nav);

    @media screen and (max-width: 360px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

/* основні властивості body */
body {
    background-color: var(--bcg-light);
    color: var(--color-primary-light);
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.03em;
    
    
     &.is-open {
    
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            
        }
      
    
}

.container {
    
    
    // width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    
   
    @media screen and (max-width: 319px) {
        width: 320px;
        // height:100%;
        // overflow: auto;
        
    }

    @media screen and (min-width: 320px) {
        max-width: 480px;
        
    }
    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}
