/* Our clients Наші постійні клієнти */

.clients {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}   

.clients__item {
    margin: 15px;
    width: calc(100%/2 - 30px);
    
    
    @media screen and (min-width: 768px) {
    width: calc(100%/3 - 30px);
    }

    @media screen and (min-width: 1200px) {
        width: calc(100%/6 - 30px);
    }
}
// 52 480, 60 -768, 32 -1200
.clients__link {
    padding: 16px 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-clients);
    border-radius: 4px;
    color: var(--color-clients);
    transition-property: color, border-color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);

    &:hover,
    &:focus {
        border-color: var(--color-nav-active);
        color: var(--color-nav-active);
    }

    @media screen and (max-width: 480px) {
        padding-right: calc(( 50% - 136px ) / 2);
        padding-left: calc((50% - 136px) / 2);
    }

    @media screen and (min-width: 768px) {
        padding-right: 60px;
        padding-left: 60px;
    }

    @media screen and (min-width: 1200px) {
        padding-right: 32px;
        padding-left: 32px;
    }
}

.clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    
}