
/* section Features */

.features {
    padding-top: 60px;
    padding-bottom: 60px;
}

.features__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.features__item {
    
    width: 100%;
    
    @media screen and (min-width: $break-point1){
        width: calc($break-point1 - 30px);
    }
}

.features__item:not(:last-child) {
    margin-bottom: 30px;
}

.features__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bcg-team);
    border-radius: 4px;
}

.features__icon {
    width: 70px;
    height: 70px;
}

.features__title {
    color: var(--color-title-nav);
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.features__text {
    line-height: 1.7;
}