/* Fotter */

.footer {
    background-color: var(--bgc-dark);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (max-width: 320px) {
        width: 320px;
    }
}

.footer__container {
    width: 100vw;
    @media screen and (min-width:1200px) {
        display: flex;
        justify-content: space-between;
        text-align: left;
    }
    
    @media screen and (max-width: 320px) {
        width: 320px;
    }
}
.footer__inner {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 93px;
    }
}

@import "./footer/left-wrap";
@import "./footer/middle-wrap";
@import "./footer/right-wrap";








