/* галерея */
.gallery {
    display: flex;
    flex-wrap: wrap;
    // align-items: start;
    margin: -15px;
    margin-top: 40px;       
    @media screen and (min-width: 768px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 50px;
    }
}

.gallery__item {
    margin: 15px;
    max-width: 450px;
    

    @media screen and (min-width: 768px) {
        max-width: calc(100% / 2 - 30px);
    }

    @media screen and (min-width: 1200px) {
        max-width: calc(100% / 3 - 30px);
    }
}

.gallery__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition-property: box-shadow;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);

    &:hover {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
            0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
    
    &:hover .card-overlay {
        transform: translateY(0);
    }
}

.gallery__wrap {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.gallery__desc {
    flex-grow: 1;
    height: 100%;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

//     @media screen and (min-width: 768px) and (max-width: 1199px) {
//         height: 148px;
//     }
}

.gallery__title {
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--color-title-nav);
}

.gallery__text {
    font-size: 16px;
    line-height: 1.87;
    color: var(--color-primary-light);
}

/* overlay */

.card-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: transform;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);
    transform: translateY(100%);

    background-color: var(--color-nav-active);
    color: var(--color-primary-dark);

    font-size: 18px;
    line-height: 1.55;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

