/* Header */
.header {
    padding-top: 10px;
    padding-bottom: 10px;
   
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        
        
    }
}
.menu-button {
    position: relative;
    z-index: 999;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    background-color: transparent;
    outline: 1px dotted gold;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--color-logo-header-secondary);
    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);

    &:hover, &:focus-visible {
        color: var(--color-nav-active);
    }
}
.menu-button .icon-close {
    display: none;

}
.menu-button.is-open .icon-close {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}

.menu-button__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;

}


.nav {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: var(--bcg-light);
    
    
    display: flex;
    justify-content: space-between;

    transform: translatey(-100%);
    
    pointer-events: none;
    
    
    transition: transform var(--trans-duration) var(--trans-timing-func);

    
   
    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
    
    &.is-open {
        transform: translatey(0);
        pointer-events: visible;
        
        
    }
    

    
}


.nav__list {
    // display: flex;
    // margin-left: 93px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        font-size: 40px;
    }
}

.nav__item:not(:last-child) {
    margin-bottom: 32px;
}
// показує активну сторінку
// .nav__item .nav__link--active {
//     color: var(--color-nav-active);
// }

.nav__link {
    color: var(--color-title-nav);
    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);

    &:hover,
    &:focus {
        color: var(--color-nav-active);
    }
}

// .nav__link--active {
//     position: relative;

//     &::after {
//         content: "";
//         position: absolute;
    
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//         background-color: var(--color-nav-active);
//         bottom: -34px;
//         left: 0;
//         pointer-events: none;
//         transition-property: background-color;
//         transition-duration: var(--trans-duration);
//         transition-timing-function: var(--trans-timing-func);
//     }
// }

/* header-contacts */
.contacts {
    display: flex;
    margin-top: auto;
    margin-bottom: 64px;
    // margin-left: auto;
    font-weight: 500;
    line-height: 1.17;
    
    letter-spacing: 0.02em;
    list-style: none;

    @media screen and (max-width:767px) {
        flex-direction: column-reverse;
        &__item:first-child {
            font-size: 24px;
        }
        &__item:last-child {
            font-size: 34px;
            color: var(--color-nav-active);
            margin-bottom: 32px;

            @media screen and (max-width: 350px) {
                font-size: calc(100vw / 20 + 15px);
            }
        }
        
    }
}


// .contacts__item:first-child {
//     margin-right: 50px;
// }

.contacts__link {
    // display: flex;
    align-items: center;
    color: inherit;
    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing-func);

    &:hover,
    &:focus {
        color: var(--color-nav-active);
    }
}



.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    @media screen and (max-width:767px) {
        display: none;
    }
}

.contacts__icon--post {
    width: 16px;
    height: 12px;
}

.contacts__icon--phone {
    width: 10px;
    height: 16px;
}

.header-socials {
    display: flex;
    

    &__item:not(:last-child) {
        margin-right: 20px;

        @media screen and (max-width: 420px) {
            margin-right: calc(100vw / 8 - 33px);
        }
    }

    &__link {
        color: var(--color-nav-active);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;

        @media screen and (max-width: 420px) {
            font-size: calc(100vw / 33 + 5px);
        }
    }
}