/* hero */
.hero {
   
    background-color: var(--bcg-hero);
    padding-top: 200px;
    padding-bottom: 200px;
    
    
   

    &__title {
    font-weight: 900;
    // font-size: 44px;
    font-size: 26px;
    // line-height: 1.35;
    line-height: 1.61;
    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-transform: uppercase;
    
    color: var(--color-primary-dark);
    }
}
.hero-container {
    width:100vw;
    
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/hero480x400.jpg);
    background-repeat: no-repeat;
    // background-position: calc(100% / 2) calc(100% / 2);
    
    background-size: cover;
}


