.logo {
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--color-logo-primary);
}

.header__logo {
    color: var(--color-logo-header-secondary);
}

.footer__logo {
    color: var(--color-logo-footer-secondary);
}