/* portfolio */
.page-gallery {
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
/* кнопки галереї*/
.page-gallery__wrap {
    margin-bottom: 40px;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin:0px -4px;

    @media screen and(max-width: 767px) {
        flex-wrap: wrap;
        justify-content: left;
        margin:-8px -4px;
    }
}



.buttons__item{
    margin: 0px 4px;
    @media screen and (max-width: 767px) {
        margin: 8px 4px;
    }
}



@import "./gallery";
