/* section Servises */
.services {
    padding-top: 0px;
    padding-bottom: 94px;
    text-align: center;
}

.services__list {
    display: flex;
}

.services__item:not(:first-child) {
    margin-left: 30px;
}

.services__wrap {
    position: relative;
}

.services__text {
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-transform: uppercase;
    background-color: Var(--bgc-dark-alpha);
    color: var(--color-primary-dark);
    position: absolute;
    left: 0;
    bottom: 0;
}