.middle-wrap {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 50%;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 15px;
    }
}

.middle-wrap__label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    color: var(--color-primary-dark);
}

.footer__social-links {
    margin-top: 20px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }
}

.social-links__link--footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-primary-dark);

    &:hover,
    &:focus {
        background-color: var(--color-nav-active);
    }
}